<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.web.persistence.ChatMapper">

   <resultMap type="com.everytime.web.domain.ChatVO"
      id="chatResultMap">
      
      <result property="chat_id" column="CHAT_ID" /> 
      <result property="room_id" column="ROOM_ID" /> 
      <result property="nickname" column="NICKNAME" /> 
       <result property="chat_content" column="CHAT_CONTENT" />
       <result property="chat_time" column="CHAT_TIME" />
   </resultMap>

   <insert id="insert">
      INSERT INTO CHAT
      VALUES (CHAT_SEQ.NEXTVAL, #{room_id}, #{nickname}, #{chat_content}, #{chat_time})
   </insert>

</mapper>