<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.web.persistence.MessageMapper">

	<resultMap type="com.everytime.web.domain.MessageVO"
		id="messageResultMap">

		<id property="messageNo" column="MESSAGE_NO" />
		<result property="messageRequest" column="MESSAGE_REQUEST" />
		<result property="messageResponse" column="MESSAGE_RESPONSE" />
		<result property="content" column="CONTENT" />
		<result property="messageCreatedDate"
			column="MESSAGE_CREATED_DATE" />
	</resultMap>

	<select id="getResponseId" resultType="String">
		SELECT MESSAGE_RESPONSE
		FROM MESSAGE
		WHERE MESSAGE_REQUEST = #{memberId}
	</select>

	<select id="getRequestId" resultType="String">
		SELECT MESSAGE_REQUEST FROM
		MESSAGE
		WHERE MESSAGE_RESPONSE = #{memberId}
	</select>

	<select id="getAllDataByResponeId" resultMap="messageResultMap">
		SELECT *
		FROM MESSAGE
		WHERE ((MESSAGE_REQUEST = #{messageRequest} AND MESSAGE_RESPONSE =
		#{messageResponse})
		OR (MESSAGE_RESPONSE = #{messageRequest} AND MESSAGE_REQUEST =
		#{messageResponse}))
		AND ROWNUM = 1
		ORDER BY MESSAGE_NO DESC
	</select>

	<select id="getAllDateById" resultMap="messageResultMap">
		SELECT * FROM MESSAGE
		WHERE MESSAGE_REQUEST = #{messageRequest} AND MESSAGE_RESPONSE =
		#{messageRequest}
		OR MESSAGE_RESPONSE = #{messageRequest} AND
		MESSAGE_REQUEST = #{messageRequest}
		ORDER BY MESSAGE_CREATED_DATE DESC
	</select>

	<insert id="sendMsg">
		INSERT INTO MESSAGE (MESSAGE_NO, MESSAGE_REQUEST,
		MESSAGE_RESPONSE, CONTENT)
		VALUES(MESSAGE_SEQ.NEXTVAL,
		#{messageRequest}, #{messageResponse}, #{content})
	</insert>

</mapper>