@charset "UTF-8";
div.head[data-v-570e2290] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%
}

@media only screen and (min-width: 780px) {
    div.head[data-v-570e2290] {
        border-bottom:1px solid #D6D6D6 ;
        background-color: #FFFFFF
    }

    @media (prefers-color-scheme: dark) {
        div.head[data-v-570e2290] {
            border-bottom:1px solid #474747 ;
            background-color: #111111
        }
    }
}

@media only screen and (max-width: 779px) {
    div.head[data-v-570e2290] {
        display:none;
        height: 100%
    }

    div.head.visible[data-v-570e2290] {
        display: flex
    }
}

@media only screen and (min-width: 780px) {
    div.head div.wrap[data-v-570e2290] {
        position:relative;
        margin: 0 auto;
        width: 1180px
    }
}

@media only screen and (max-width: 779px) {
    div.head div.wrap[data-v-570e2290] {
        flex:auto;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        height: 100%;
        background-color: #FFFFFF
    }

    @media (prefers-color-scheme: dark) {
        div.head div.wrap[data-v-570e2290] {
            background-color:#111111
        }
    }
}

div.head div.wrap div.logo[data-v-570e2290] {
    position: absolute;
    top: 0;
    left: 24px;
    display: flex;
    height: 80px
}

div.head div.wrap div.logo a[data-v-570e2290] {
    margin-right: 16px;
    align-self: center
}

div.head div.wrap div.logo a figure.logoimage[data-v-570e2290] {
    width: 40px;
    height: 40px;
    background-image: url("/images/partials/header/logo.light.png") ;
    background-size: cover
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.logo a figure.logoimage[data-v-570e2290] {
        background-image:url("/images/partials/header/logo.dark.png")
    }
}

div.head div.wrap div.logo h1[data-v-570e2290] {
    display: flex;
    flex-direction: column;
    align-self: center
}

div.head div.wrap div.logo h1 p.subname[data-v-570e2290] {
    margin-left: 3px;
    line-height: 15px;
    color: #F91F15 ;
    font-size: 12px;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.logo h1 p.subname[data-v-570e2290] {
        color:#EE3C35
    }
}

div.head div.wrap div.logo h1 p.name[data-v-570e2290] {
    line-height: 25px;
    color: #292929 ;
    font-size: 22px
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.logo h1 p.name[data-v-570e2290] {
        color:#F0F0F0
    }
}

div.head div.wrap div.logo h1 p.single[data-v-570e2290] {
    color: #292929 ;
    font-size: 18px;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.logo h1 p.single[data-v-570e2290] {
        color:#F0F0F0
    }
}

div.head div.wrap nav[data-v-570e2290] {
    display: flex
}

@media only screen and (min-width: 780px) {
    div.head div.wrap nav[data-v-570e2290] {
        justify-content:center;
        height: 80px
    }
}

@media only screen and (max-width: 779px) {
    div.head div.wrap nav[data-v-570e2290] {
        flex-direction:column;
        padding-top: 80px
    }
}

@media only screen and (min-width: 780px) {
    div.head div.wrap nav div[data-v-570e2290] {
        margin:0 12px;
        border-bottom: 4px solid rgba(0,0,0,0);
        line-height: 80px
    }
}

div.head div.wrap nav div a[data-v-570e2290] {
    color: #444444 ;
    font-size: 16px;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap nav div a[data-v-570e2290] {
        color:#C2C2C2
    }
}

@media only screen and (max-width: 779px) {
    div.head div.wrap nav div a[data-v-570e2290] {
        display:block;
        padding: 12px 24px;
        line-height: 24px
    }
}

@media only screen and (min-width: 780px) {
    div.head div.wrap nav div.active[data-v-570e2290] {
        border-color:#F91F15
    }

    @media (prefers-color-scheme: dark) {
        div.head div.wrap nav div.active[data-v-570e2290] {
            border-color:#EE3C35
        }
    }
}

@media only screen and (max-width: 779px) {
    div.head div.wrap nav div.active[data-v-570e2290] {
        background-color:#F9F9F9
    }

    @media (prefers-color-scheme: dark) {
        div.head div.wrap nav div.active[data-v-570e2290] {
            background-color:#1F1F1F
        }
    }
}

div.head div.wrap nav div.active a[data-v-570e2290] {
    color: #F91F15
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap nav div.active a[data-v-570e2290] {
        color:#EE3C35
    }
}

div.head div.wrap div.account[data-v-570e2290] {
    position: absolute;
    display: flex;
    height: 80px
}

@media only screen and (min-width: 780px) {
    div.head div.wrap div.account[data-v-570e2290] {
        top:0;
        right: 24px
    }
}

@media only screen and (max-width: 779px) {
    div.head div.wrap div.account[data-v-570e2290] {
        bottom:0;
        left: 24px
    }
}

div.head div.wrap div.account a[data-v-570e2290] {
    box-sizing: border-box;
    margin-left: 4px;
    border: 1px solid #D6D6D6 ;
    border-radius: 12px;
    height: 40px;
    align-self: center
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a[data-v-570e2290] {
        border:1px solid #474747
    }
}

div.head div.wrap div.account a.button[data-v-570e2290] {
    padding: 0 12px;
    line-height: 40px;
    color: #737373 ;
    font-size: 14px
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a.button[data-v-570e2290] {
        color:#9A9A9A
    }
}

div.head div.wrap div.account a.button.red[data-v-570e2290] {
    border: 0;
    color: #FFFFFF ;
    font-weight: bold;
    background-color: #F91F15
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a.button.red[data-v-570e2290] {
        color:#111111 ;
        background-color: #EE3C35
    }
}

div.head div.wrap div.account a.icon[data-v-570e2290] {
    position: relative;
    width: 40px;
    color: rgba(0,0,0,0);
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center
}

div.head div.wrap div.account a.icon.message[data-v-570e2290] {
    background-image: url("../images/common/icn_m_chat_gray800_light.png") ;
    background-size: 24px 24px
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a.icon.message[data-v-570e2290] {
        background-image:url("../images/common/icn_m_chat_gray800_dark.png")
    }
}

div.head div.wrap div.account a.icon.my[data-v-570e2290] {
    background-image: url("/images/common/icn_m_account_gray800_light.png") ;
    background-size: 24px 24px
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a.icon.my[data-v-570e2290] {
        background-image:url("../images/common/icn_m_account_gray800_dark.png")
    }
}

div.head div.wrap div.account a.icon span.badge[data-v-570e2290] {
    position: absolute;
    top: -4px;
    right: -4px;
    display: inline-block;
    padding: 0 6px;
    border-radius: 10px;
    line-height: 16px;
    color: #FFFFFF ;
    font-size: 12px;
    font-weight: bold;
    background-color: #F91F15
}

@media (prefers-color-scheme: dark) {
    div.head div.wrap div.account a.icon span.badge[data-v-570e2290] {
        color:#111111 ;
        background-color: #EE3C35
    }
}

@media only screen and (min-width: 780px) {
    div.head div.backdrop[data-v-570e2290] {
        display:none
    }
}

@media only screen and (max-width: 779px) {
    div.head div.backdrop[data-v-570e2290] {
        width:56px;
        height: 100%;
        background-color: rgba(0,0,0,.5)
    }
}

@media only screen and (min-width: 780px) {
    div.navbar[data-v-570e2290] {
        display:none
    }
}

@media only screen and (max-width: 779px) {
    div.navbar[data-v-570e2290] {
        position:fixed;
        top: 0;
        left: 0;
        z-index: 90;
        display: flex;
        width: 100%;
        height: 56px;
        background-color: #FFFFFF
    }

    @media (prefers-color-scheme: dark) {
        div.navbar[data-v-570e2290] {
            background-color:#111111
        }
    }

    div.navbar a.hamburger[data-v-570e2290] {
        width: 56px;
        height: 56px;
        background-image: url("/images/partials/header/hamburger.light.png") ;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px 24px
    }

    @media (prefers-color-scheme: dark) {
        div.navbar a.hamburger[data-v-570e2290] {
            background-image:url("/images/partials/header/hamburger.dark.png")
        }
    }

    div.navbar h1[data-v-570e2290] {
        flex: 1;
        line-height: 26px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #292929 ;
        font-size: 18px;
        align-self: center
    }

    @media (prefers-color-scheme: dark) {
        div.navbar h1[data-v-570e2290] {
            color:#F0F0F0
        }
    }
}

div#appOpen~header>div.navbar[data-v-570e2290] {
    top: 48px
}

footer[data-v-bd480d94] {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #F9F9F9
}

@media (prefers-color-scheme: dark) {
    footer[data-v-bd480d94] {
        background-color:#1F1F1F
    }
}

footer div.wrap[data-v-bd480d94] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 32px 60px;
    width: 100%;
    max-width: 780px;
    gap: 16px
}

footer div.wrap address[data-v-bd480d94] {
    display: flex;
    flex-direction: column;
    gap: 4px
}

footer div.wrap address strong.title[data-v-bd480d94] {
    line-height: 20px;
    color: #737373 ;
    font-size: 14px;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    footer div.wrap address strong.title[data-v-bd480d94] {
        color:#9A9A9A
    }
}

footer div.wrap address ul.company[data-v-bd480d94] {
    display: flex;
    flex-wrap: wrap;
    line-height: 18px;
    color: #737373 ;
    font-size: 12px
}

@media (prefers-color-scheme: dark) {
    footer div.wrap address ul.company[data-v-bd480d94] {
        color:#9A9A9A
    }
}

footer div.wrap ul.links[data-v-bd480d94] {
    display: flex;
    flex-wrap: wrap;
    line-height: 18px;
    color: #737373 ;
    font-size: 12px
}

@media (prefers-color-scheme: dark) {
    footer div.wrap ul.links[data-v-bd480d94] {
        color:#9A9A9A
    }
}

footer div.wrap ul.links a.copyright[data-v-bd480d94],footer div.wrap ul.links a.privacy[data-v-bd480d94] {
    font-weight: bold
}

footer div.wrap span.divider[data-v-bd480d94]:after {
    content: "|";
    display: inline-block;
    margin: 0 8px;
    color: #D6D6D6 ;
    font-weight: normal
}

@media (prefers-color-scheme: dark) {
    footer div.wrap span.divider[data-v-bd480d94]:after {
        color:#474747
    }
}

@media only screen {
    #appOpen[data-v-672b14c9] {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 91;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 48px;
        background-color: #FFF3F3
    }

    @media (prefers-color-scheme: dark) {
        #appOpen[data-v-672b14c9] {
            background-color:#251312
        }
    }

    #appOpen>a[data-v-672b14c9] {
        margin: 8px;
        padding: 0 8px 0 28px;
        border-radius: 8px;
        box-shadow: 0 0 6px rgba(198,41,23,.15);
        line-height: 32px;
        color: #292929 ;
        font-size: 14px;
        font-weight: bold;
        background-color: #FFFFFF ;
        background-image: url("/images/new/nav.logo.png");
        background-repeat: no-repeat;
        background-position: left 8px center;
        background-size: 16px 16px
    }

    @media (prefers-color-scheme: dark) {
        #appOpen>a[data-v-672b14c9] {
            color:#F0F0F0 ;
            background-color: #111111
        }
    }
}
