@charset "UTF-8";

body {
	overflow-y: auto;
}

#bottom {
	display: none;
}

#container {
	text-align: center;
}

.wrap {
	margin-left: 120px;
}

#aside {
	position: absolute;
	top: 250px;
	right: 40px;
	width: 200px;
	height: 200px;
	background-color: #f8f8f8;
	border: 1px solid #d6d6d6;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	box-sizing: border-box;
	 z-index: 100;
}

#aside h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#aside form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F91F15;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#aside form button:hover {
    background-color: #D81713;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  common  /  * * * * * * * * * * * * * * * * * * * * * * * * */
#container div.tablehead>div.empty {
	padding: 120px 0;
	text-align: center;
}

#container div.tablehead>div.empty>p {
	display: inline-block;
	padding-top: 52px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	background-size: 48px 44px;
}

#container table.tablehead {
	border-collapse: collapse;
	width: 88%;
}

#container table.tablebody {
	border-collapse: collapse;
	width: 100%;
}

#container table.tablehead {
	background-color: #f2f2f2;
}

#container table.tablehead tr {
	height: 40px;
}

#container table.tablehead tr th, #container table.tablehead tr td {
	border-width: 1px;
	border-style: solid;
	border-color: #d6d6d6;
	color: #a6a6a6;
	font-weight: normal;
	text-align: center;
}

#container table.tablebody {
	background-color: transparent;
}

#container table.tablebody tr th, #container table.tablebody tr td {
	border: 1px solid #d6d6d6;
	vertical-align: top;
}

#container table.tablebody tr th div.hours {
	position: absolute;
	z-index: 11;
}

#container table.tablebody tr th div.hours div.hour {
	position: absolute;
	z-index: 10;
	left: 0;
	width: 100%;
}

#container table.tablebody tr th div.hours div.hour, #container table.tablebody tr th div.times div.time
	{
	box-sizing: border-box;
	border-top: 1px solid #d6d6d6;
	color: #a6a6a6;
	font-weight: normal;
	text-align: center;
}

#container table.tablebody tr td div.cols {
	position: absolute;
	z-index: 11;
}

#container table.tablebody tr td div.cols div.subject {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #d6d6d6;
	border-width: 1px 0;
}

#container table.tablebody tr td div.cols div.subject h3 {
	color: #292929;
	font-weight: bold;
}

#container table.tablebody tr td div.cols div.subject p em {
	margin-right: 5px;
	color: #737373;
	font-weight: bold;
}

#container table.tablebody tr td div.cols div.subject p span {
	color: #737373;
}

#container table.tablebody tr td div.cols div.preview {
	background-color: #d6d6d6;
}

#container table.tablebody tr td div.grids div.grid {
	box-sizing: border-box;
	border-top: 1px solid #e3e3e3;
}

#container table.tablebody tr td ul.status {
	display: none;
	float: right;
}

#container table.tablebody tr td ul.status li {
	float: left;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

#container table.tablebody tr td ul.status li.search {
	background-image: url('/images/container.timetable.search.png');
}

#container table.tablebody tr td ul.status li.edit {
	background-image: url('/images/container.timetable.edit.png');
}

#container table.tablebody tr td ul.status li.del {
	background-image: url('/images/container.timetable.del.png');
}

#container div.nontimes {
	margin-top: 8px;
	border: 1px solid #d6d6d6;
}

#container div.nontimes div.subject {
	padding: 0 16px;
	border-bottom: 1px solid #ededed;
}

#container div.nontimes div.subject:last-of-type {
	border-bottom: 0;
}

#container div.nontimes div.subject span {
	display: inline-block;
	line-height: 48px;
	vertical-align: middle;
	font-size: 14px;
}

#container div.nontimes div.subject span.name {
	margin-right: 8px;
	color: #292929;
	font-weight: bold;
}

#container div.nontimes div.subject span.place {
	margin-right: 8px;
	color: #737373;
}

#container div.nontimes div.subject span.del {
	width: 24px;
	height: 24px;
	background: transparent url('/images/container.timetable.del.png')
		no-repeat center center;
	cursor: pointer;
}

#container ul.floating {
	position: fixed;
	z-index: 80;
	bottom: 15px;
}

#container ul.floating li.button {
	float: left;
	margin: 0 1px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: #F91F15;
	background-repeat: no-repeat;
}

#container ul.floating li.button.search {
	padding: 0 15px 0 45px;
	border-radius: 20px 0 0 20px;
	background-image: url('/images/container.timetable.search.icon.png');
	background-position: 20px center;
}

#container ul.floating li.button.custom {
	padding: 0 20px 0 30px;
	border-radius: 0 20px 20px 0;
	background-image: url('/images/container.timetable.custom.icon.png');
	background-position: 10px center;
}

#container ul.floating li.button.only {
	padding: 0 25px 0 50px;
	border-radius: 20px;
	background-position: 25px center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *  /  pc only  /  * * * * * * * * * * * * * * * * * * * * * * * * */
@media only screen and (min-width: 641px) {
	#container div.tablehead {
		position: fixed;
		z-index: 90;
		margin-top: -15px;
		padding-top: 15px;
		width: inherit;
		background-color: #f8f8f8;
	}
	#container div.tablebody { /* ================= 수정 부분 =====*/
		margin-top: 0px;
		width: inherit;
	}
}

@media only screen and (min-width: 1367px) {
	#container table.tablehead tr td {
		font-size: 14px;
	}
	#container table.tablehead tr th, #container table.tablebody tr th,
		#container table.tablebody tr th div {
		width: 70px;
	}
	#container table.tablebody tr th div.times div.time, #container table.tablebody tr td div.grids div.grid
		{
		height: 60px;
		line-height: 60px;
		font-size: 13px;
	}
	#container table.tablebody tr th div.times div.time.small, #container table.tablebody tr td div.grids div.grid.small
		{
		height: 30px;
		line-height: 30px;
	}
	#container table.tablebody tr th div.hours div.hour {
		font-size: 14px;
	}
	#container table.tablebody tr td h3 {
		margin: 10px 10px 0 10px;
		font-size: 14px;
		line-height: 20px;
	}
	#container table.tablebody tr td p {
		margin: 0 10px 10px 10px;
		line-height: 15px;
	}
	#container table.tablebody tr td p em {
		font-size: 12px;
	}
	#container table.tablebody tr td p span {
		font-size: 12px;
	}
	#container table.tablebody tr td ul.status {
		margin: 10px 10px 0 0;
	}
}

@media only screen and (min-width: 641px) and (max-width: 1366px) {
	#container table.tablehead tr td {
		font-size: 13px;
	}
	#container table.tablehead tr th, #container table.tablebody tr th,
		#container table.tablebody tr th div {
		width: 50px;
	}
	#container table.tablebody tr th div.hours div.hour {
		font-size: 13px;
	}
	#container table.tablebody tr th div.times div.time, #container table.tablebody tr td div.grids div.grid
		{
		height: 50px;
		line-height: 50px;
		font-size: 12px;
	}
	#container table.tablebody tr th div.times div.time.small, #container table.tablebody tr td div.grids div.grid.small
		{
		height: 25px;
		line-height: 25px;
	}
	#container table.tablebody tr td h3 {
		margin: 7px 7px 0 7px;
		font-size: 12px;
		line-height: 13px;
	}
	#container table.tablebody tr td p {
		margin: 0 7px 7px 7px;
		line-height: 12px;
	}
	#container table.tablebody tr td p em {
		font-size: 11px;
	}
	#container table.tablebody tr td p span {
		font-size: 11px;
	}
	#container table.tablebody tr td ul.status {
		margin: 7px 7px 0 0;
	}
}

ul.floating {
	position: fixed;
	left: 0;
	bottom: 0;
	width: calc(100% - 120px);
	/* 60px는 버튼 전체 너비의 합으로 가정합니다. 필요에 따라 조절해주세요. */
	z-index: 80;
	padding-right: 120px; /* 버튼 전체 너비만큼 여백을 줍니다. */
}

ul.floating li.button {
	float: right;
	margin: 0 1px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: #F91F15;
	background-repeat: no-repeat;
}

ul.floating li.button.custom {
	padding: 0 20px 0 30px;
	border-radius: 0 20px 20px 0;
	background-position: 10px center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fff;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 60%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

h2 {
	text-align: center;
	color: #333;
	font-family: Arial, sans-serif;
}

dl {
	display: flex;
	flex-wrap: wrap;
	font-family: Arial, sans-serif;
	color: #333;
}

dt, dd {
	width: 100%;
	margin: 10px 0;
}

dt {
	font-weight: bold;
}

dd input.text, dd select, dd .timeplace p {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

dd .timeplace {
	display: flex;
	flex-direction: column;
}

dd .timeplace p {
	display: flex;
	flex-wrap: wrap;
}

dd .timeplace select, dd .timeplace input.text {
	flex: 1;
	margin: 5px;
}

dd .timeplace span {
	align-self: center;
}

.submit {
	text-align: center;
	margin-top: 20px;
}

.submit input.button {
	padding: 10px 20px;
	background-color: #F91F15;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

.submit input.button:hover {
	background-color: #D81713;
}