@charset "UTF-8";

.app_open[data-v-c80e0668] {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    background-color: #FFF3F3
}

@media (prefers-color-scheme: dark) {
    .app_open[data-v-c80e0668] {
        background-color:#251312
    }
}

.app_open a[data-v-c80e0668] {
    margin: 8px;
    padding: 0 8px 0 28px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(198,41,23,.15);
    line-height: 32px;
    color: #292929;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    background-image: url("/images/pages/login/logo_symbol_light.png");
    background-repeat: no-repeat;
    background-position: left 8px center;
    background-size: 16px 16px
}

@media (prefers-color-scheme: dark) {
    .app_open a[data-v-c80e0668] {
        color:#F0F0F0;
        background-color: #111111;
        background-image: url("/images/pages/login/logo_symbol_dark.png")
    }
}

@media only screen and (min-width: 780px) {
    div.container[data-v-c80e0668] {
        position:absolute;
        top: 50%;
        left: 50%;
        width: 360px;
        transform: translate(-50%, -50%)
    }
}

@media only screen and (max-width: 779px) {
    div.container[data-v-c80e0668] {
        box-sizing:border-box;
        padding: 48px 24px;
        width: 100%
    }
}

div.container h1.logo[data-v-c80e0668] {
    margin: 0 auto 40px;
    width: 210px;
    height: 56px;
    background-image: url("../images/login_logo.png");
    background-size: cover
}

@media (prefers-color-scheme: dark) {
    div.container h1.logo[data-v-c80e0668] {
        background-image:url("../images/login_logo.png")
    }
}

div.container div#client[data-v-c80e0668] {
    margin: 16px 0;
    line-height: 20px;
    color: #737373;
    font-size: 14px;
    text-align: center
}

@media (prefers-color-scheme: dark) {
    div.container div#client[data-v-c80e0668] {
        color:#9A9A9A
    }
}

div.container div#client span.everytime[data-v-c80e0668] {
    color: #F91F15;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    div.container div#client span.everytime[data-v-c80e0668] {
        color:#EE3C35
    }
}

div.container div#client span.client[data-v-c80e0668] {
    color: #292929;
    font-weight: bold
}

@media (prefers-color-scheme: dark) {
    div.container div#client span.client[data-v-c80e0668] {
        color:#F0F0F0
    }
}

div.container div#appAuth input[type=button][data-v-c80e0668] {
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #F91F15;
    cursor: pointer
}

@media (prefers-color-scheme: dark) {
    div.container div#appAuth input[type=button][data-v-c80e0668] {
        color:#111111;
        background-color: #EE3C35
    }
}

div.container div#appAuth div#appAuthDivider[data-v-c80e0668] {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 20px;
    color: #292929;
    font-size: 14px;
    gap: 16px
}

@media (prefers-color-scheme: dark) {
    div.container div#appAuth div#appAuthDivider[data-v-c80e0668] {
        color:#F0F0F0
    }
}

div.container div#appAuth div#appAuthDivider hr[data-v-c80e0668] {
    flex-grow: 1;
    border-top: 1px solid #EDEDED
}

@media (prefers-color-scheme: dark) {
    div.container div#appAuth div#appAuthDivider hr[data-v-c80e0668] {
        border-top:1px solid #313131
    }
}

div.container form div.input input[type=password][data-v-c80e0668],div.container form div.input input[type=text][data-v-c80e0668] {
    display: block;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    line-height: 24px;
    color: #292929;
    font-size: 16px;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px 24px
}

@media (prefers-color-scheme: dark) {
    div.container form div.input input[type=password][data-v-c80e0668],div.container form div.input input[type=text][data-v-c80e0668] {
        color:#F0F0F0;
        background-color: #282828
    }
}

div.container form input[type=submit][data-v-c80e0668] {
    margin-top: 4px;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #F91F15;
    cursor: pointer
}

@media (prefers-color-scheme: dark) {
    div.container form input[type=submit][data-v-c80e0668] {
        color:#111111;
        background-color: #EE3C35
    }
}

div.container form input[type=submit][data-v-c80e0668]:disabled {
    background-color: #D6D6D6;
    cursor: not-allowed
}

@media (prefers-color-scheme: dark) {
    div.container form input[type=submit][data-v-c80e0668]:disabled {
        background-color:#474747
    }
}

div.container form div.options[data-v-c80e0668] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px
}

div.container form div.options label.keep[data-v-c80e0668] {
    display: inline-flex;
    align-items: center;
    padding-left: 8px;
    line-height: 20px;
    color: #A6A6A6;
    font-size: 14px;
    cursor: pointer;
    gap: 8px
}

@media (prefers-color-scheme: dark) {
    div.container form div.options label.keep[data-v-c80e0668] {
        color:#6E6E6E
    }
}

div.container form div.options label.keep.bold[data-v-c80e0668] {
    font-weight: bold
}

div.container form div.options label.keep input[type=checkbox][data-v-c80e0668] {
    display: none
}

div.container form div.options label.keep input[type=checkbox]:checked~figure.checkbox[data-v-c80e0668] {
    background-image: url("/images/common/icn_e_check_mini_on_light.svg")
}

@media (prefers-color-scheme: dark) {
    div.container form div.options label.keep input[type=checkbox]:checked~figure.checkbox[data-v-c80e0668] {
        background-image:url("/images/common/icn_e_check_mini_on_dark.svg")
    }
}

div.container form div.options label.keep figure.checkbox[data-v-c80e0668] {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: top;
    background-image: url("/images/common/icn_e_check_mini_off_light.svg");
    background-position: center;
    background-size: 14px 14px
}

@media (prefers-color-scheme: dark) {
    div.container form div.options label.keep figure.checkbox[data-v-c80e0668] {
        background-image:url("/images/common/icn_e_check_mini_off_dark.svg")
    }
}

div.container form div.options a[data-v-c80e0668] {
    line-height: 20px;
    color: #737373;
    font-size: 14px
}

@media (prefers-color-scheme: dark) {
    div.container form div.options a[data-v-c80e0668] {
        color:#9A9A9A
    }
}

div.container p.register[data-v-c80e0668] {
    display: flex;
    justify-content: center;
    margin-top: 40px
}

div.container p.register a[data-v-c80e0668] {
    line-height: 20px;
    color: #737373;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

@media (prefers-color-scheme: dark) {
    div.container p.register a[data-v-c80e0668] {
        color:#9A9A9A
    }
}

div.container footer[data-v-c80e0668] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 96px;
    gap: 16px
}

div.container footer a[data-v-c80e0668] {
    line-height: 18px;
    color: #737373;
    font-size: 12px
}

@media (prefers-color-scheme: dark) {
    div.container footer a[data-v-c80e0668] {
        color:#9A9A9A
    }
}

div.container footer a.copyright[data-v-c80e0668],div.container footer a.privacy[data-v-c80e0668] {
    font-weight: bold
}
