@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f9fa; /* 연한 그레이 */
}

h2 {
	text-align: center;
	margin-top: 50px;
	color: #007bff; /* 파란색 */
}

form {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	color: #007bff; /* 파란색 */
}

input[type="text"], input[type="password"] {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box; /* padding과 border 포함하여 크기 설정 */
}

input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #007bff; /* 파란색 */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s; /* 배경색 전환 효과 */
}

input[type="submit"]:hover {
	background-color: #0056b3; /* 파란색 조금 진한 색 */
}

p {
	text-align: center;
	margin-top: 20px;
}

a {
	text-decoration: none; /* 링크 밑줄 제거 */
	color: #007bff; /* 파란색 */
}

a:hover {
	color: #0056b3; /* 파란색 조금 진한 색 */
}

.link-container {
	text-align: center;
	margin-top: 20px;
}

.error-message {
	color: red;
	text-align: center;
	margin-top: 10px;
}

.success-message {
	color: green;
	text-align: center;
	margin-top: 10px;
}