@charset "UTF-8";

 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; /* 연한 그레이 */
        }

        h2 {
            text-align: center;
            margin-top: 50px;
        }

        form {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box; /* padding과 border 포함하여 크기 설정 */
        }

        input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #007bff; /* 파란색 */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3; /* 파란색 조금 진한 색 */
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .success-message {
            color: green;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .id-check-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px; /* 아이디 확인 컨테이너의 하단 여백 */
        }

        .id-check-container input[type="text"] {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
        }

        .id-check-container button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .id-check-container button:hover {
            background-color: #0056b3;
        }